

{% block content %}

    <footer class="bg-black text-center">
        <div class="container">
            <div class="row align-items-start">
                <div class="col-xs-12 col-md-12 col-lg-3 text-left align-bottom mb-2 justify-content-start d-flex">
                    <a href="https://www.instagram.com/a.k.i.n.t.u.n.d.e/?hl=en"><i
                            class="fa-brands fa-instagram fa-xl white-hover p-10"></i></a>
                    <a href="akintundeakinleye.com"><i class="fa-solid fa-globe fa-xl white-hover p-10"></i></a>
                    <a href="https://www.facebook.com/akintunde.akinleye.9"><i
                            class="fa-brands fa-facebook fa-xl white-hover p-10"></i></a>
                    <a href="https://ca.linkedin.com/in/akintunde-akinleye-361ba342"><i
                            class="fa-brands fa-linkedin fa-xl white-hover p-10"></i></a>

                </div>
                <div class="col-xs-12 col-md-12 col-lg-7">
                    <a href="mailto:akintundeee52@gmail.com" id="footer-email"
                       class=" white-hover" style="font-size: 12px;">akintundeee52@gmail.com</a>
                    <p class=" mt-2" style="color: white; font-size: 12px; ">Copyright ©
                        <script>document.write(new Date().getFullYear());</script>
                        | Designed By Akinola Akinleye
                    </p>
                </div>
            </div>
    </footer>

    <button type="button" id="back-top"
            class="btn btn-icon btn-circle btn-outline-dark bg-body-dark btn-floating raised-sm">
        <i class="fas fa-chevron-up text-white"></i>
    </button>
{% endblock content %}

<!--Footer-->


