{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <link href="{% static 'css/custom.css' %}" rel="stylesheet" type='text/css' media='screen'/>
    <!-- MIPO -->
    <link rel="icon" href="{% static 'images/logo-icon.png' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rochester&display=swap" rel="stylesheet">
    <link href="{% static 'mipo/assets/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'mipo/assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'mipo/assets/css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'mipo/assets/css/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'mipo/assets/css/style.css' %}">
    <!-- Fonts -->
    <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/all.css' %}">
    <!--Glightbox-->
    <!--revolution lightbox-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/glightbox/glightbox.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/plyr/plyr.css' %}">

    <title>Akintunde</title>
</head>

<body style="background: black;">
{% include 'navbar.html' %}
{% include 'akintunde/partial/messages.html' %}
{% block content %} {% endblock content %}
</body>

<script src="{% static 'js/jquery/jquery-3.7.1.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/custom.js' %}" type="text/javascript"></script>
<script src="{% static 'js/bootstrap/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="mipo/assets/js/bootstrap.bundle.min.js"></script>
<script src="mipo/assets/js/theme.js"></script>
<script src="{% static 'mipo/assets/js/aos.js' %}"></script>
<script>
    AOS.init({
        duration: 600,
    })
</script>
<!-- Nav-Scroll -->
<script src="{% static 'mipo/assets/js/scroll-top.js' %}"></script>
<!-- / Nav-Scroll -->

<!-- Jarallax -->
<script src="{% static 'mipo/assets/js/jarallax.min.js' %}"></script>
<!-- / Jarallax -->

<!-- Rellax -->
<script src="{% static 'mipo/assets/js/rellax.min.js' %}"></script>
<script>
    var rellax = new Rellax('.rellax');
</script>
<!-- / Rellax -->

<!-- Swiper Slider -->
<script src="{% static 'mipo/assets/js/swiper-bundle.min.js' %}"></script>
<!-- swiper-init -->
<script src="{% static 'js/custom.js' %}" type="text/javascript"></script>
<script>
    var swiper = new Swiper(".mySwiper", {

        spaceBetween: 20,
        slidesPerView: "3",
        loop: true,
        breakpoints: {
            1400: {
                slidesPerView: 3,
            },
            640: {
                slidesPerView: 2,
            },
            320: {
                slidesPerView: 1,
            }
        },
        autoplay: {
            delay: 3000,
            disableOnInteraction: false
        },
        mousewheel: {
            thresholdDelta: 70
        },
        navigation: {
            prevEl: ".swiper-button-prev",
            nextEl: ".swiper-button-next"
        },
        pagination: {
            el: ".swiper-pagination",
            clickable: false
        }
    });


</script>

<!--Glightbox-->
<script type="text/javascript" src="{% static 'js/glightbox/glightbox.min.js' %}"></script>
<script>
    const lightbox = GLightbox({
        selector: '.gallery-glightbox',
        touchNavigation: true, // Enable touch navigation
        loop: true, // Enable looping through images
        openEffect: "zoom",
        closeEffect: "zoom",
        moreText: "see more",
        touchFollowAxis: true,
        draggable: true,
        zoomable: true,
        height: "auto",
    });
</script>

<script src="{% static 'js/plyr/plyr.min.js' %}" type="text/javascript"></script>
<script>
    const player = new Plyr('#player', {});
</script>
<script>

    setTimeout(function () {
        if ($('.alert').length > 0) {
            $('.msg').remove();
        }
    }, 5000)
</script>
