
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 0;
    
  }
  li {
    float: left;
  }
  
  li a {
    display: block;
    padding: 8px;
  }
</style>

<ul>
<li><a href="{% url 'home' %}">Home</a></li>
<li><a href="{% url 'about' %}">About</a></li>
<li><a href="{% url 'gallery' %}">Gallery</a></li>
<li><a href="{% url 'blog' %}">Blog</a></li>
<li><a href="{% url 'contact' %}">Contact</a></li>
<li><a href="{% url 'videos' %}">Videos</a></li>

{% if request.user.is_authenticated %}
<li><a href="{% url 'logout' %}">Logout</a></li>
{% else %}
<li><a href="{% url 'login' %}">Login</a></li>
{% endif %}
</ul>

<br />
<br />
<hr />

