{% load static %}

<nav class="navbar navbar-expand-lg navbar-inverse bg-black absolute top-0 left-0 right-0 fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}"><img
                src="{% static 'images/logo-akintunde.png' %}" alt="logo"></a>

        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbar-toggle-nav-center" aria-controls="navbar-toggle-nav-center"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar top-bar"></span>
            <span class="icon-bar middle-bar"></span>
            <span class="icon-bar bottom-bar"></span>
            <span class="sr-only">Toggle navigation</span>
        </button><!-- / navbar-toggler -->

        <div class="collapse navbar-collapse" id="navbar-toggle-nav-center">
            <ul class="navbar-nav m-x-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}" id="dropdown1" aria-haspopup="true"
                       aria-expanded="false">HOME</a>
                </li><!-- / dropdown -->

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}" id="dropdown2" aria-haspopup="true"
                       aria-expanded="false">ABOUT</a>
                </li><!-- / dropdown -->

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'gallery' %}" id="dropdown3" aria-haspopup="true"
                       aria-expanded="false">GALLERY</a>
                </li><!-- / dropdown -->

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'videos' %}" id="dropdown4" aria-haspopup="true"
                       aria-expanded="false">VIDEOS</a>
                </li><!-- / dropdown -->

                <li class="nav-item">
                    <a class="nav-link last-menu-item" href="{% url 'blog' %}">BLOG</a>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link last-menu-item" href="{% url 'logout' %}">LOGOUT</a>
                    </li>
                {% endif %}
            </ul><!-- / navbar-nav -->

            <ul class="navbar-button p-0 m-0 ml-30">
                <li class="nav-item">
                    <a href="{% url 'contact' %}" class="btn btn-sm btn-white"><i
                            class="far fa-envelope fs-16 mr-5 va-middle"></i> <span class="va-middle">CONTACT</span></a>
                </li>
            </ul><!-- / navbar-button -->
        </div><!-- / navbar-collapse -->
    </div><!-- / container-fluid -->
</nav>