{% extends 'main.html' %}


{% block content %}

    <div class="" style="margin-top: 10rem; background: white">

        <div class="col col-md-8 container justify-content-center">
            {% if form.instance.id %}
                <h2>Edit Exhibition</h2>
            {% else %}
                <h2>Create Exhibition</h2>
            {% endif %}

            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                {{ form.as_p }}
                {{ form.media }}

                <button type="submit" class="btn btn-success"><i class="fa-solid fa-circle-plus fa-beat"></i> Create
                </button>
                <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-danger">
                    <i class="fa-solid fa-circle-arrow-left"></i> Go Back</a>

            </form>
        </div>
    </div>

{% endblock content %}

