{% extends 'main.html' %} 
{% block content %}


<div class="col col-md-5 container">
{% if form.instance.id %}
<h2>Edit Gallery</h2>
{% else %}
<h2>Create Gallery</h2>
{% endif %}
 
<form method="POST" action="" enctype="multipart/form-data">
  {% csrf_token %}

 {{ form.as_p }} 
 <button type="submit" class="btn btn-success"  ><i class="fa-solid fa-circle-plus fa-beat"></i>  Create</button>
 <a href="{{request.META.HTTP_REFERER}}" class="btn btn-danger">
   <i class="fa-solid fa-circle-arrow-left"></i> Go Back</a>
  
  </form>
</div>

{% endblock content %}
