{% extends 'main.html' %}


{% block content %}
  
<div class="col col-md-5 container">

  {% if form.instance.id %}
  <h2>Edit category</h2>
  {% else %}
  <h2>Create category</h2>
  {% endif %}

  <form action="" method="POST" enctype="multipart/form">
    {% csrf_token %} 
   
    {{form.as_p}}

    <button type="submit" class="btn btn-success"  ><i class="fa-solid fa-circle-plus fa-beat"></i>   Create</button>
    <a href="{{request.META.HTTP_REFERER}}" class="btn btn-danger">
      <i class="fa-solid fa-circle-arrow-left"></i> Go Back</a>
  
  </form>
</div>


{% endblock content %}
  
