{% extends 'main.html' %}


{% block content %}
<style>
    .container{
        border-style: groove;
        margin: 5rem 20rem 20rem 20rem;
        padding: 0px 20px 20px 20px;
    }
    a{
        float: right;
        margin: 2px 2px 2px 2px;
    }
</style>



    
<div class="container">
    
    <a href="{% url 'create-about' %}">CREATE</a>
    <h1>ABOUT</h1>

    
{% for bio in about %}

	<div class="body">
	        {{bio.biography}}
            <a href="{% url 'edit-about' bio.id  %}">Edit</a>
            <a href="{% url 'delete-about' bio.id %}">Delete</a>
	    </div>
{% endfor %}
	
</div>

{% endblock content %}
  