{% extends 'main.html' %}
{% block content %}
<style type="text/css">
    a:link {
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    h2 {
        text-align: center;
    }
    
</style>


<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <h2> BLOG </h2>

                {% if request.user.is_authenticated %}
                <a href= "{% url 'create-blog' %}">Create</a>
                {% endif %}
                  
            </div>

            {% for blog in blogs %}           
            <div class="col-md">
               Author: Akintunde
                {{blog.created|date}}
                {{blog.category.title}}
                
                <a href="{% url 'blog-extended' blog.id %}">
                    {{blog.title}}
                    
                    {% if blog.image %}
                    <img src="{{blog.image.url}}" width='200' height= '200'>
                    {% endif %}
                </a>
                {% comment %} {{blog.image_caption}}    {% endcomment %}
                {{blog.description|truncatewords_html:50|safe}}
                <a href="{% url 'blog-extended' blog.id %}">Read More</a>
            </div>
            <div class="col-md">

              {% if request.user.is_authenticated %}
              <a href= "{% url 'edit-blog' blog.id %}">Edit</a>
              <a href= "{% url 'delete-blog' blog.id %}">Delete</a>
              {% endif %}

            </div>
            {% endfor %}
            
        </div>
        
        

        <nav aria-label="Page navigation example">
            {% if blogs.has_other_pages %}
                <ul class="pagination">
                {% if blogs.has_previous %}
                    <li><a href="?page={{ blogs.previous_page_number }}">&laquo; first</a></li>
                {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                
                {% for i in blogs.paginator.page_range %}
                    {% if blogs.number == i %}
                    <li class="active"><a href="?page={{i}}">{{ i }} <span class="sr-only">(current)</span></a></li>
                  
                    {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                  
                {% endfor %}
                {% if blogs.has_next %}
                    <li><a href="?page={{ blogs.next_page_number }}">&raquo; next</a></li>
                {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
                </ul>
        {% endif %}
    </nav>

    </div>
</div>






{% endblock %}