{% extends 'main.html' %}


{% block content %}

    <section>
        <!-- Swiper -->
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="static/images/pix6.jpg"/>
                </div>
                <div class="swiper-slide">
                    <img src="static/images/pix7.jpg"/>
                </div>
                <div class="swiper-slide">
                    <img src="static/images/pix9.jpg"/>
                </div>
                <div class="swiper-slide">
                    <img src="static/images/pix10.jpg"/>
                </div>
                <div class="swiper-slide">
                    <img src="static/images/pix11.jpg"/>
                </div>
                <div class="swiper-slide">
                    <img src="static/images/pix13.jpg"/>
                </div>
                <div class="swiper-slide">
                    <img src="static/images/pix14.jpg"/>
                </div>
                <div class="swiper-slide">
                    <img src="static/images/pix15.jpg"/>
                </div>
                <div class="swiper-slide">
                    <img src="static/images/pix16.jpg"/>
                </div>
            </div>
            <div class="swiper-controller">
                <div class="slider-controller">
                    {% comment %} <div class="swiper-button-prev slider-arrow">
					<span class="material-symbols-outlined icon ">
						arrow_back
					</span>
				</div>
	
				<div class="swiper-button-next slider-arrow">
					<span class="material-symbols-outlined icon">
						arrow_forward
					</span>
				</div>  {% endcomment %}

                    <div class="swiper-pagination"></div>

                </div>
            </div>
        </div>
    </section>


    <!-- start about me -->
    <section id="about-me" style="background-color: #1A1A1A;">

        <div class="container">
            <div class="row">
                {% comment %} <h2>Akintunde akinleye</h2> {% endcomment %}
                <div class="col-lg-6 about-intro">
                    <div class="about-inner">
                        <div class="about-ct">
                            {% for obj in home %}
                                {% if obj.image %}
                                    <img src="{{ obj.image.url }}" alt="img" class="img-responsive">
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 about-intro-text">
                    <div class="container">
                        <div class="header-content">
                            <h1 class="mb-10" style="font-family: 'Dancing Script', cursive; color: white;"><b>akintunde
                                akinleye</b></h1>
                            <h1 class="mb-10"
                                style="font-family: 'Dancing Script', cursive; font-size: 30px; color: white; ">
                                anthropologist|photographer|visual Analyst</h1>
                            {% for obj in home %}
                                <p class="text-light header-text fw-regular fs-16 mb-40">{{ obj.description|truncatewords:47|safe }}
                                </p>
                                <a href="{% url 'about' %}" class="btn btn-sm btn-white"><i class=""></i> <span
                                        class="va-middle">READ MORE</span></a>
                                {% if request.user.is_authenticated %}
                                    <a class="btn btn-info ml" href="{% url 'edit-home' obj.id %}">Edit</a>
                                {% endif %}
                            {% endfor %}
                        </div><!-- / header-content -->
                    </div><!-- / container -->
                </div>
            </div>
            <!-- end row about -->
        </div>
        <!-- end container about -->
    </section>

    {% include 'footer.html' %}

{% endblock content %}



    