{% extends 'main.html' %}


{% block content %}

<section>
	<!-- Swiper -->
	<div class="swiper mySwiper">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<img src="static/images/pix6.jpg" />
			</div>
			<div class="swiper-slide">
				<img src="static/images/pix7.jpg" />
			</div>
			<div class="swiper-slide">
				<img src="static/images/pix9.jpg" />
			</div>
			<div class="swiper-slide">
				<img src="static/images/pix10.jpg" />
			</div>
			<div class="swiper-slide">
				<img src="static/images/pix11.jpg" />
			</div>
			<div class="swiper-slide">
				<img src="static/images/pix13.jpg" />
			</div>
			<div class="swiper-slide">
				<img src="static/images/pix14.jpg" />
			</div>
			<div class="swiper-slide">
				<img src="static/images/pix15.jpg" />
			</div>
			<div class="swiper-slide">
				<img src="static/images/pix16.jpg" />
			</div>
		</div>
		<div class="swiper-controller">
			<div class="slider-controller">
				{% comment %} <div class="swiper-button-prev slider-arrow">
					<span class="material-symbols-outlined icon ">
						arrow_back
					</span>
				</div>
	
				<div class="swiper-button-next slider-arrow">
					<span class="material-symbols-outlined icon">
						arrow_forward
					</span>
				</div>  {% endcomment %}
	
				<div class="swiper-pagination"></div>

			</div>
		</div>
	</div>
</section>


<!-- start about me -->
<section id="about-me" style="background-color: #1A1A1A;">
	
	<div class="container">
		<div class="row">
			{% comment %} <h2>Akintunde akinleye</h2> {% endcomment %}
			<div class="col-lg-6 about-intro">
				<div class="about-inner">
					<div class="about-ct">
						<img src="static/images/akintunde-profile.jpg" alt="Marina Marques" class="img-responsive">
					</div>
				</div>
			</div>
			<div class="col-lg-6 about-intro-text">
				<div class="container">
					<div class="header-content">
						<div class="row v-center">
							<div class="col-lg-6 z-index-2">
								<h1 class="mb-10" style="font-family: 'Dancing Script', cursive; color: white;"><b>akintunde akinleye</b></h1>
								<h1 class="mb-10" style="font-family: 'Dancing Script', cursive; font-size: 30px; color: white; ">anthropologist|photographer|visual Analyst</h1>
								
								{% comment %} <p class="header-text fs-18 mb">Anthropologist|photographer|Visual Analyst
									 <span class="typewrite" data-period="2500" data-type='[ "Anthropologist", "",  ]'>
										<span class="wrap"></span>
									</span> 
								</p><!-- / header-text --> {% endcomment %}
								<p class="header-text fw-regular fs-16 mb-40" style="word-break: break-all; color: white;">whose images centre around photo-activism and trial narrative subjects. A former Reuters photographer covering West Africa, his photography has documented Nigeria's postcolonial history. He is the first Nigerian photographer to receive the World Press Photo prize (2007), for his image of a pipeline explosion in Lagos.</p>
								<a href="{% url 'about' %}" class="btn btn-sm btn-black"><i class=""></i> <span class="va-middle">READ MORE</span></a>
		
							</div><!-- / column -->
						</div><!-- / row -->
					</div><!-- / header-content -->
				</div><!-- / container -->
			</div>
		</div>
		<!-- end row about -->
	</div>
	<!-- end container about -->
</section>

  {% include 'footer.html' %}

{% endblock content %}



    