{% extends 'main.html' %}


{% block content %}


    <div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom: 0">
        <!-- Swiper -->
        <div class="swiper mySwiper">
            <div class="swiper-wrapper img-fluid">
                <div class="swiper-slide">
                    <img src="static/images/pix6.jpg"/>
                </div>
                <div class="swiper-slide">
                    <img src="static/images/pix7.jpg"/>
                </div>
                <div class="swiper-slide">
                    <img src="static/images/pix9.jpg"/>
                </div>
                <div class="swiper-slide">
                    <img src="static/images/pix10.jpg"/>
                </div>
                <div class="swiper-slide">
                    <img src="static/images/pix11.jpg"/>
                </div>
                <div class="swiper-slide">
                    <img src="static/images/pix13.jpg"/>
                </div>
                <div class="swiper-slide">
                    <img src="static/images/pix14.jpg"/>
                </div>
                <div class="swiper-slide">
                    <img src="static/images/pix15.jpg"/>
                </div>
                <div class="swiper-slide">
                    <img src="static/images/pix16.jpg"/>
                </div>
                <div class="swiper-slide">
                    <img src="static/images/pix17.jpg"/>
                </div>
                <div class="swiper-slide">
                    <img src="static/images/pix20.jpg"/>
                </div>
                <div class="swiper-slide">
                    <img src="static/images/pix30.jpg"/>
                </div>
                <div class="swiper-slide">
                    <img src="static/images/pix50.jpg"/>
                </div>
            </div>
            <div class="swiper-controller ">
                <div class="slider-controller ">
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>


    <!-- start about me -->
    <section id="about-me" class="bg-inverse">

        <div class="container">
            <div class="row">
                <div class="col-xs-12  col-sm-12 col-md-6 about-intro">
                    <div class="about-inner">
                        <div class="about-ct">
                            {% for obj in home %}
                                {% if obj.image %}
                                    <img src="{{ obj.image.url }}" alt="img" class="img-responsive">
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 about-intro-text mt-3">
                    <div class="container">
                        <div class="header-content text-left" style="word-break: break-word">
                            <h1 class="mb-10 text-white display-1 text-lg" style="font-family: 'Rochester', cursive;">
                                <b>akintunde
                                    akinleye</b></h1>
                            <h4 class="mb-10 text-white display-6"
                                style="font-family: 'Rochester', cursive;  font-size: 38px">
                                Anthropologist|Photographer|Visual Analyst</h4>
                            {% for obj in home %}
                                <span style="color: white" class="text-white header-text fw-regular fs-16 mb-40"
                                >{{ obj.description|truncatechars_html:750|safe }}
                                </span>
                                <a href="{% url 'about' %}" class="btn btn-sm btn-outline-white"><i class=""></i> <span
                                        class="va-middle">READ MORE</span></a>
                                {% if request.user.is_authenticated %}
                                    {% if has_submission %}
                                        <a class="btn btn-info ml" href="{% url 'edit-home' obj.id %}">Edit</a>
                                    {% else %}
                                        <a class="btn btn-info ml" href="{% url 'create-home' %}">Create</a>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div><!-- / header-content -->
                    </div><!-- / container -->
                </div>
            </div>
            <!-- end row about -->
        </div>
        <!-- end container about -->
    </section>

    {% include 'footer.html' %}

{% endblock content %}



    