{% load static %}
  <link href="{% static 'font-awesome/css/fontawesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/brands.min.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/solid.min.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}", rel="stylesheet" type='text/css' media='screen' />

    
<div class="message-container">
{% if messages %}
    {% for message in messages %}
    {% if 'danger' in message.tags %}
      <div class="alert {{ message.tags }}" id="msg" role="alert">
        <i class="fa-solid fa-exclamation fa-beat-fade fa-sm"></i><span class="space"></span>
        {{ message }}
      </div>
      {% elif 'success' in message.tags %}
      <div class="alert {{ message.tags }}" id="msg" role="alert"><span class="space"></span>
        <i class="fa-solid fa-check fa-sm"></i>
        {{ message }}
      </div>
      {% endif %}
    {% endfor %}
{% endif %}
    </div>

